
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>



<table border="1">
    <tr>
        <td>
          Upload files
        </td>
        <td>
            @Html.ActionLink("Upload file", "Uploadfile")
        </td>
        <td>
            @Html.ActionLink("Upload multi files", "Uploadmutifile")
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
    @*<tr>
        <td>
            Download files
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit")
        </td>
        <td>
            @Html.ActionLink("Details", "Details")
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>*@
</table>


